* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", sans-serif;
}
.header {
  background: linear-gradient(90deg, #06165f 0%, #3c00bc 100%);
  width: 100%;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

@media screen and (min-width: 375px) {
  .header__inner {
    justify-content: space-between;
  }
}

.header__btnGrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.header__button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.header__button {
  padding: 5px 10px;
  border-radius: 20px;
  border: 0;
}

.header__button--submit {
  background: orange;
  margin-right: 20px;
}

.header__button--signIn {
  background: green;
  color: white;
}

.header__logo {
  color: white;
  align-self: center;
}

@media screen and (min-width: 375px) {
  .header__logo {
    margin-top: 20px;
  }
  /* GENERAL */
  .mainContainer {
    margin: auto;
  }
}
.Search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  background-color: #e8eaf6;
}

.search__title {
  margin-bottom: 10px;
  text-align: center;
}

.search__wrapper {
  position: relative;
  max-width: 350px;
  width: 100%;
}
.search__input {
  padding: 8px 30px 8px 8px;
  border-radius: 20px;
  width: 100%;
  border: 1px solid lightgray;
}

.search__searchIcon {
  position: absolute;
  right: 10px;
  top: 5px;
}

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  max-width: 1200px;
}

.faq__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  padding: 20px;
}

.faq__list-item {
  min-height: 8rem;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  gap: 2rem;
  padding: 20px;
  border: 1px solid #ccc;
}

.footer {
  background: linear-gradient(90deg, #182848 0%, #3c00bc 100%);
  padding: 20px;
}

.footer__column {
  flex-grow: 1;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
